{% use "form_div_layout.html.twig" %}

{# Widgets #}

{% block form_widget %}
    {% spaceless %}
        {% if compound %}
            {{ block('form_widget_compound') }}
        {% else %}
            {{ block('form_widget_simple') }}
        {% endif %}
    {% endspaceless %}
{% endblock form_widget %}

{% block form_widget_simple %}
    {% spaceless %}
        {% set layout_modifier = layout_modifier is defined ? layout_modifier : uikit_get_layout_modifier() %}
        {% set input_class = input_class|default(uikit_get_input_class()) %}
        {% set icon = attr.icon is defined and attr.icon ? attr.icon : "" %}


        {% if attr.input_class is defined and attr.input_class is not empty %}
            {% set input_class = attr.input_class %}
        {% endif %}

        {% if input_class is not empty %}
            {% set attr = attr|merge( {'class': attr.class|default('') ~ input_class|trim } ) %}
        {% endif %}

        {% set type = type|default('text') %}

        {% if layout_modifier is not same as(false) %}
            <div class="uk-form-controls">
        {% endif %}
        {% if icon is not empty %}
            <div class="uk-form-icon">
        {% endif %}

        {% set attr = attr|merge({ 'class': (attr.class|default(''))|trim }) %}
        {% if icon is not empty %}<i class="uk-icon-{{icon}}"></i>{% endif %}
        <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}> {{ block('form_help') }}

        {% if icon is not empty %}
            </div>
        {% endif %}
        {% if layout_modifier is not same as(false) %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock form_widget_simple %}

{% block form_widget_compound %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {{ block('form_rows') }}
            {{ form_rest(form) }}
        </div>
    {% endspaceless %}
{% endblock form_widget_compound %}

{% block collection_widget %}
    {% spaceless %}
        {% if prototype is defined %}
            {% set attr = attr|merge({'data-prototype': form_row(prototype) }) %}
        {% endif %}
        {{ block('form_widget') }}
    {% endspaceless %}
{% endblock collection_widget %}

{% block uikit_collection_widget %}
{% endblock %}

{% block textarea_widget %}
    {% spaceless %}
        {% set layout_modifier = layout_modifier is defined ? layout_modifier : uikit_get_layout_modifier() %}
        {% set input_class = input_class|default(uikit_get_input_class()) %}
        {% set help = help|default('') %}

        {% if attr.input_class is defined and attr.input_class is not empty %}
            {% set input_class = attr.input_class %}
        {% endif %}

        {% if layout_modifier is not same as(false) %}
            <div class="uk-form-controls">
        {% endif %}

        {% if input_class is not empty %}
            {% set attr = attr|merge( {'class': attr.class|default('') ~ input_class|trim } ) %}
        {% endif %}

        <textarea {{ block('widget_attributes') }}>{{ value }}</textarea>

        {% if layout_modifier is not same as(false) %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock textarea_widget %}

{% block percent_widget %}
    {% set layout_modifier_temp = layout_modifier is defined ? layout_modifier : uikit_get_layout_modifier() %}
    {% spaceless %}
        {% if layout_modifier_temp is not same as(false)%}
            <div class="uk-form-controls">
        {% endif %}
        {% set type = type|default('text') %}
            {% set layout_modifier = false %}
            {{ block('form_widget_simple') }}
            <span>%</span>
        {% if layout_modifier_temp is not same as(false) %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock percent_widget %}

{% block choice_widget %}
    {% spaceless %}
        {% if expanded %}
            {{ block('choice_widget_expanded') }}
        {% else %}
            {{ block('choice_widget_collapsed') }}
        {% endif %}
    {% endspaceless %}
{% endblock choice_widget %}

{% block choice_widget_expanded %}
    {% set layout_modifier = layout_modifier is defined ? layout_modifier : uikit_get_layout_modifier() %}
    {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' uk-form-controls')|trim }) %}
    {% set attr = layout_modifier is same as(false) ? attr : attr|merge({ 'class': (attr.class|default('') ~ ' uk-form-controls')|trim }) %}
    {% spaceless %}
        <div {{ block('widget_container_attributes') }}>
            {% for child in form %}
                {% if multiple %}
                    {{ checkbox_row(child, { 'no_form_group': true, 'inline' : (attr.inline is defined and attr.inline), 'label_attr': label_attr }) }}
                {% else %}
                    {{ radio_row(child, { 'no_form_group': true, 'inline' : (attr.inline is defined and attr.inline), 'label_attr': label_attr  }) }}
                {% endif %}
            {% endfor %}
        </div>
    {% endspaceless %}
{% endblock choice_widget_expanded %}

{% block choice_widget_collapsed %}
    {% spaceless %}
        {% set layout_modifier = layout_modifier is defined ? layout_modifier : uikit_get_layout_modifier() %}
        {% set attr = attr|merge({ 'class': attr.class|default('')|trim }) %}
        {% if layout_modifier is not same as(false) %}
            <div class="uk-form-controls">
        {% endif %}
            <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %}>
                {% if placeholder is not none %}
                    <option {% if required %} disabled="disabled"{% if value is empty %} selected="selected"{% endif %}{% endif %} value="">{{ placeholder|trans({}, translation_domain) }}</option>
                {% endif %}
                {% if preferred_choices|length > 0 %}
                    {% set options = preferred_choices %}
                    {{ block('choice_widget_options') }}
                    {% if choices|length > 0 and separator is not none %}
                        <option disabled="disabled">{{ separator }}</option>
                    {% endif %}
                {% endif %}
                {% set options = choices %}
                {{ block('choice_widget_options') }}
            </select>
        {% if layout_modifier is not same as(false) %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock choice_widget_collapsed %}

{% block checkbox_row %}
    {% spaceless %}
        {% set checkboxdata %}
            {% if simple_row is defined ? (simple_row ? true : false) : uikit_get_simple_row() %}
                <div class="uk-form-row">
            {% endif %}
            {% if label is not same as (false) %}
                {% if not compound %}
                    {% set label_attr = label_attr|merge({'for': id}) %}
                {% endif %}
                {% if required %}
                    {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
                {% endif %}
                {% if label is empty %}
                    {% set label = name|humanize %}
                {% endif %}
                <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                {{ block('checkbox_widget') }}
                {{ label|trans({}, translation_domain)|raw -}}
                </label>
            {% else %}
                {{ block('checkbox_widget') }}
            {% endif %}
            {% if simple_row is defined ? (simple_row ? true : false) : uikit_get_simple_row() %}
                </div>
            {% endif %}
        {% endset %}
        {{ form_errors(form) }}

        {{ block('form_help') }}

        {% if inline is defined and inline %}
            {{ checkboxdata|raw }}
        {% else %}
            {{ checkboxdata|raw }}<br>
        {% endif %}

    {% endspaceless %}
{% endblock checkbox_row %}

{%- block checkbox_widget -%}
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} {% if required %}required="required" {% endif %} />
{%- endblock checkbox_widget -%}

{% block number_widget %}
    {% spaceless %}
        {# type="number" doesn't work with floats #}
        {% set type = type|default('text') %}
        {{ block('form_widget_simple') }}
    {% endspaceless %}
{% endblock number_widget %}

{% block integer_widget %}
    {% spaceless %}
        {% set type = type|default('number') %}
        {{ block('form_widget_simple') }}
    {% endspaceless %}
{% endblock integer_widget %}

{% block radio_row %}
    {% spaceless %}
        {% set radiodata %}
        {% if label is not same as (false) %}
            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if inline is defined and inline %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' radio-inline')|trim}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
            {{ block('radio_widget') }}
            {{ label|trans({}, translation_domain)|raw -}}
            </label>
        {% else %}
            {{ block('radio_widget') }}
        {% endif %}
        {{ form_errors(form) }}
        {% endset %}

        {% if inline is defined and inline %}
            {{ radiodata|raw }}
        {% else%}
            {{ radiodata|raw }}<br>
        {% endif %}

        {{ block('form_help') }}
    {% endspaceless %}
{% endblock radio_row %}

{% block datetime_widget %}
    {% spaceless %}
        {% if widget == 'single_text' %}
            {{ block('form_widget_simple') }}
        {% else %}
            {% set attr = attr|merge({ 'class': 'uk-form-controls' }) %}
            <div {{ block('widget_container_attributes') }}>
                {{ form_widget(form.date, {layout_modifier: false}) }}
                {{ form_widget(form.time, {layout_modifier: false}) }}
                {{ form_errors(form.date) }}
                {{ form_errors(form.time) }}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock datetime_widget %}

{% block date_widget %}
    {% set layout_modifier = layout_modifier is defined ? layout_modifier : uikit_get_layout_modifier() %}
    {% spaceless %}
        {% if widget == 'single_text' %}
            {{ block('form_widget_simple') }}
        {% else %}
            {% set attr = attr|merge({ 'class': 'uikit-date' }) %}
            {% set attr = layout_modifier is not same as(false) ? attr|merge({"class": attr.class|default('') ~ " uk-form-controls"}) : attr %}
            <div {{ block('widget_container_attributes') }}>
                {{ date_pattern|replace({
                '{{ year }}':  form_widget(form.year, {layout_modifier: false}),
                '{{ month }}': form_widget(form.month, {layout_modifier: false}),
                '{{ day }}':   form_widget(form.day, {layout_modifier: false}),
                })|raw }}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock date_widget %}

{% block time_widget %}
    {% set layout_modifier = layout_modifier is defined ? layout_modifier : uikit_get_layout_modifier() %}
    {% spaceless %}
        {% if widget == 'single_text' %}
            {{ block('form_widget_simple') }}
        {% else %}
            {% set vars = widget == 'text' ? { 'attr': { 'size': 1 } } : {} %}
            {% set vars = vars|merge({'layout_modifier': false})%}
            {% set attr = layout_modifier is not same as(false) ? attr|merge({"class": attr.class|default('') ~ " uk-form-controls"}) : attr %}
            <div {{ block('widget_container_attributes') }}>
                {{ form_widget(form.hour, vars) }}
                {% if with_minutes %}:{{ form_widget(form.minute, vars) }}{% endif %}
                {% if with_seconds %}:{{ form_widget(form.second, vars) }}{% endif %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock time_widget %}

{% block money_widget %}
    {% spaceless %}
        {% set icon = attr.icon is defined and attr.icon ? attr.icon : "usd" %}
        {% set attr = attr|merge({'icon' : icon})%}
        {{block("form_widget_simple")}}
    {% endspaceless %}
{% endblock money_widget %}

{% block hidden_row %}
    {{ form_widget(form) }}
{% endblock hidden_row %}

{# form widget #}

{% block form_start %}
    {% set layout_modifier = layout_modifier is defined ? layout_modifier : uikit_get_layout_modifier() %}
    {% spaceless %}
        {{ uikit_backup_form_settings() }}
        {% set method = method|upper %}
        {% if method in ["GET", "POST"] %}
            {% set form_method = method %}
        {% else %}
            {% set form_method = "POST" %}
        {% endif %}

        {% set attr = attr|merge({'class': attr.class|default('') ~ ' uk-form '} )%}

        {% if layout_modifier %}
            {% set attr = attr|merge({ 'class': (attr.class|default('') ~ ' uk-form-' ~ layout_modifier)|trim }) %}
            {{ uikit_set_layout_modifier(layout_modifier) }}
        {% endif %}

        {% if simple_row is defined %}
            {{ uikit_set_simple_row(simple_row) }}
        {% endif %}

        <form  name="{{ form.vars.name }}" method="{{ form_method|lower }}" action="{{ action }}"{% for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}{% if multipart %} enctype="multipart/form-data"{% endif %}>
        {% if form_method != method %}
            <input type="hidden" name="_method" value="{{ method }}" />
        {% endif %}
   {% endspaceless %}
{% endblock form_start %}

{% block form_help %}
    {% spaceless %}
        {% set help_text = attr.help_text is defined and attr.help_text is not empty ? attr.help_text : "" %}
        {% set help_type = attr.help_type is defined and attr.help_type is not empty ? attr.help_type : "" %}
        {% if help_text is not empty %}
            {% if help_type is same as("block") %}
                <p class="uk-form-help-block">{{help_text|trans({}, translation_domain)}}</p>
            {% else %}
                <span class="uk-form-help-inline">{{help_text|trans({}, translation_domain)}}</span>
            {% endif %}
        {% endif %}
    {% endspaceless %}
{% endblock form_help %}

{# Labels #}

{% block form_label %}
    {% spaceless %}
        {% set layout_modifier = layout_modifier|default(uikit_get_layout_modifier()) %}
        {% if label is not same as(false) %}

            {% set label_attr = label_attr|merge({ 'class': (label_attr.class|default('') ~ ' uk-form-label')|trim }) %}

            {% if not compound %}
                {% set label_attr = label_attr|merge({'for': id}) %}
            {% endif %}
            {% if required %}
                {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
            {% endif %}
            {% if label is empty %}
                {% set label = name|humanize %}
            {% endif %}
            <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label|trans({}, translation_domain)|raw }}</label>
        {% endif %}
    {% endspaceless %}
{% endblock form_label %}

{% block button_label %}{% endblock %}

{# Rows #}

{% block form_row %}
    {% spaceless %}
        {% if simple_row is defined ? (simple_row ? true : false) : uikit_get_simple_row() %}
            <div class="uk-form-row">
        {% endif %}
            {{ form_label(form) }}
            {{ form_widget(form) }}
            {{ form_errors(form) }}
        {% if simple_row is defined ? (simple_row ? true : false) : uikit_get_simple_row() %}
            </div>
        {% endif %}
    {% endspaceless %}
{% endblock %}

{# Support #}

{% block form_rows %}
    {% spaceless %}
        {% for child in form %}
            {% set childAttr = {} %}
            {% if attr.input_class is defined %}
                {% set childAttr = childAttr|merge({ 'input_class': attr.input_class }) %}
            {% endif %}
            {% if attr.layout_modifier is defined %}
                {% set childAttr = childAttr|merge({ 'layout_modifier': attr.layout_modifier }) %}
            {% endif %}
            {{ form_row(child, childAttr) }}
        {% endfor %}
    {% endspaceless %}
{% endblock form_rows %}

{% block widget_attributes %}
    {% spaceless %}
        id="{{ id }}" name="{{ full_name }}"{% if read_only is defined and read_only %} readonly="readonly"{% endif %}{% if disabled is defined and disabled %} disabled="disabled"{% endif %}{% if required is defined and required %} required="required"{% endif %}{% if max_length is defined and max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern is defined and pattern %} pattern="{{ pattern }}"{% endif %}
        {% for attrname, attrvalue in attr %}{% if attrname in ['placeholder', 'title'] %}{{ attrname }}="{{ attrvalue|trans({}, translation_domain) }}" {% elseif attrname in ['input_group'] %}{% else %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}
    {% endspaceless %}
{% endblock widget_attributes %}

{% block widget_container_attributes %}
    {% spaceless %}
        {% if id is not empty %}id="{{ id }}" {% endif %}
        {% for attrname, attrvalue in attr %}{% if attrvalue is not null and (attrvalue is not iterable) %}{{ attrname }}="{{ attrvalue }}" {% endif %}{% endfor %}
    {% endspaceless %}
{% endblock widget_container_attributes %}

{% block button_attributes -%}
        id="{{ id }}" name="{{ full_name }}"{% if disabled is defined and disabled %} disabled="disabled"{% endif %}
        {%- for attrname, attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}
{% endblock button_attributes %}

{% block form_legend %}
{% endblock form_legend %}

{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul class="uk-alert uk-alert-warning">
        {% for error in errors %}
            <li>{{
                error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
            }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

